body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  color: white;
}

body{
  background-image: url("images/cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  padding: 20px 0px 10px 0px;
  text-align: center;
}

.skybox {
  background-color: #B0C4DE;
  width:600px;
  background: rgba(76,196,222,0.1);
  border: 2px solid black;
  padding: 25px;
  margin: 25px auto;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FF0000;
  text-decoration: none;
}
